/* Computer Modern Font */
@font-face {
  font-family: 'Computer Modern Sans';
  src: url('fonts/cmunss.eot');
  src: url('fonts/cmunss.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunss.woff') format('woff'),
     url('fonts/cmunss.ttf') format('truetype'),
     url('fonts/cmunss.svg#cmunss') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Computer Modern Sans';
  src: url('fonts/cmunsx.eot');
  src: url('fonts/cmunsx.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunsx.woff') format('woff'),
     url('fonts/cmunsx.ttf') format('truetype'),
     url('fonts/cmunsx.svg#cmunsx') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Computer Modern Sans';
  src: url('fonts/cmunsi.eot');
  src: url('fonts/cmunsi.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunsi.woff') format('woff'),
     url('fonts/cmunsi.ttf') format('truetype'),
     url('fonts/cmunsi.svg#cmunsi') format('svg');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: 'Computer Modern Sans';
  src: url('fonts/cmunso.eot');
  src: url('fonts/cmunso.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunso.woff') format('woff'),
     url('fonts/cmunso.ttf') format('truetype'),
     url('fonts/cmunso.svg#cmunso') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunrm.eot');
  src: url('fonts/cmunrm.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunrm.woff') format('woff'),
     url('fonts/cmunrm.ttf') format('truetype'),
     url('fonts/cmunrm.svg#cmunrm') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunbx.eot');
  src: url('fonts/cmunbx.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunbx.woff') format('woff'),
     url('fonts/cmunbx.ttf') format('truetype'),
     url('fonts/cmunbx.svg#cmunbx') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunti.eot');
  src: url('fonts/cmunti.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunti.woff') format('woff'),
     url('fonts/cmunti.ttf') format('truetype'),
     url('fonts/cmunti.svg#cmunti') format('svg');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunbi.eot');
  src: url('fonts/cmunbi.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunbi.woff') format('woff'),
     url('fonts/cmunbi.ttf') format('truetype'),
     url('fonts/cmunbi.svg#cmunbi') format('svg');
  font-weight: bold;
  font-style: italic;
}







body, input {
  margin: 0;
  padding: 0;
  font-size: 125%;
  font-family: 'Computer Modern Serif';
  color: #263238;
}

.canvas-cont {
  overflow: hidden;
}

.c {
  overflow: hidden;
  float: left;
  font-family: 'Computer Modern Sans';
  position: relative;
}

.c-xz {
  float: right;
}

.meta {
  position: absolute;
  bottom: 0;
  left: 2em;
  right: 2em;
  background: rgba(0, 0, 0, .02);
  padding: .5em;
  font-size: .75em;
  text-align: center;
  z-index: 200;
}




h1, h2 {
  font-family: 'Computer Modern Serif', Georgia;
  font-size: 1em;
  text-align: center;
  font-weight: 300;
  margin: .5em 0;
}

a {
  text-decoration: none;
  border-bottom: thin dotted #ccc;
  color: #2979FF;
  transition: all .3s ease;
}

a:hover {
  color: #1565C0;
  border-bottom-color: #666;
}

h1 {
  font-size: 1.5em;
  margin: 1em 0 .25em;
}

article {
  font-size: 1.125em;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 50em;
  width: 95%;
  clear: both;
  overflow: hidden;
  padding: 2em 0 0;
}

.row {
  margin-left: -4em;
}

.col {
  padding-left: 4em;
  box-sizing: border-box;
  width: 50%;
  float: left;
}

.large {
  font-size: 1.25em;
}

.center {
  text-align: center;
}

.sans {
  font-family: 'Computer Modern Sans';
  font-size: .875em;
}

.padd {
  margin: 1rem 0;
}

.eq {
  font-style: italic;
}

label {
  display: block;
  padding: .5em 0;
  overflow: hidden;
}

label div {
  display: inline-block;
}

label > * {
  box-sizing: border-box;
  float: left;
}

label .name {
  width: 42.5%;
  margin-right: 5%;
}

label input {
  width: 27.5%;
  margin-right: 2.5%;
}

label .unit {
  width: 22.5%;
  float: left;
}

input {
  font-size: .75em;
  font-family: 'Computer Modern Sans';
  border: thin solid #eee;
  border-radius: 2px;
  padding: .5em;
  transition: all .3s ease;
  display: inline-block;
}

input:focus {
  outline: none;
  border-color: #2979FF;
}

.result {
  clear: both;
  margin: 0 0 2em;
}

.colophon {
  background: #ECEFF1;
  margin: 6em 0 0;
  padding: 2em;
  text-align: center;
  color: #546E7A;
  font-size: .75em;
}

@media (max-width: 60em) {
  .col { width: 100%; margin-bottom: 2em; }
}

@media ( max-width: 45em) {
  .c { width: 100%; }
}